<p>
  <a href="{{site.dc_site}}">Data Carpentry </a>
  aim is to teach researchers basic concepts, skills, and tools for working with data so that they can get more done in less time, and with less pain. 

  This is the <strong>Data Carpentry Genomics Workshop</strong> <a href=http://www.datacarpentry.org/genomics-workshop/>(overview page)</a>. The focus of this workshop is on working with genomics data and data management and analysis for genomics research. It covers metadata organization in spreadsheets, data organization, connecting to and using cloud computing, the command line for sequence quality control and bioinformatics workflows, and R for data analysis and visualization. The workshop does not teach any particular bioinformatics tools, but the foundational skills that will allow you to conduct any analysis and analyze the output of a genomics pipeline.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
